<section class="py-10">
    <div class="container mx-auto">
        <div class="flex flex-wrap justify-center items-center gap-8 md:gap-16">
            <img src="./assets/skf logo.png" alt="SKF" class="w-24 md:w-28 h-auto filter grayscale  hover:grayscale-0 transition duration-300 cursor-pointer"> 
            <img src="./assets/ntn.png" alt="NTN SNR" class="w-40 md:w-48 h-auto filter grayscale  hover:grayscale-0 transition duration-300 cursor-pointer"> 
            <img src="./assets/timken-logo.png" alt="TIMKEN" class="w-40 md:w-48 h-auto filter grayscale  hover:grayscale-0 transition duration-300 cursor-pointer"> 
            <img src="./assets/iko.webp" alt="IKO" class="w-32 md:w-36 h-auto filter grayscale hover:grayscale-0 transition duration-300 cursor-pointer"> 
            <img src="./assets/nachi.png" alt="NACHI" class="w-36 md:w-40 h-auto filter grayscale hover:grayscale-0 transition duration-300 cursor-pointer">
            <img src="./assets/fag.png" alt="FAG" class="w-32 md:w-36 h-auto filter grayscale hover:grayscale-0 transition duration-300 cursor-pointer">  
        </div>
    </div>
</section>
