
<app-header></app-header>
<section class="relative text-gray-600 body-font h-screen" id="hero">
  <div class="relative h-full">
    <!-- Video de fondo -->
    <video autoplay muted loop id="video" class="w-full h-full object-cover">
      <source src="./assets/video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <!-- Overlay -->
    <div class="absolute inset-0 bg-gray-900 w-full h-full opacity-70"></div>
    <!-- Contenido -->
    <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-white px-4 md:px-24 lg:px-32">
      <h1 class="text-2xl sm:text-4xl md:text-6xl font-bold font-[Inter] md:w-1/2">Extensa variedad en rodamientos de gran calidad</h1>
      <p class="mt-4 text-sm sm:text-lg md:text-xl font-[Inter] md:mt-[25px]">
        Ofrecemos una amplia selección de rodamientos de alta calidad diseñados 
        <br class="hidden md:block">para garantizar el máximo rendimiento y durabilidad en cualquier aplicación industrial. 
        <br class="hidden md:block">Maximiza la eficiencia y reduce el desgaste con nuestros rodamientos de alta precisión.
      </p>
      <!-- Botón -->
      <div class="mt-4 md:mt-6">
        <button (click)="scrollToSection('contacto')" class="inline-flex text-white bg-[#e87025] border-0 py-2 px-4 md:px-6 focus:outline-none hover:bg-[#913d09] rounded-2xl text-sm md:text-lg font-[Inter] cursor-pointer">
          Contáctanos
        </button>
      </div>
    </div>
  </div>
  <!-- Triángulo blanco decorativo -->
  <div class="absolute bottom-0 left-0 w-full h-[100px] bg-white" style="clip-path: polygon(0 100%, 100% 0, 100% 100%);">
  
  </div>
</section>

<app-marcas></app-marcas>
<app-nosotros></app-nosotros>
<app-rodamientos></app-rodamientos>
<app-contactanos></app-contactanos>
<app-footer></app-footer>

