<section class="font-[Inter] px-4 md:px-32" id="productos">
  <div class="container px-5 py-12 md:py-24 mx-auto">
    <div class="text-center mb-8">
      <h1 class="text-2xl sm:text-2xl md:text-4xl font-bold text-center">Productos</h1>
      <p class="text-base leading-relaxed max-w-md sm:max-w-lg md:max-w-2xl mx-auto mt-4 md:mt-6 mb-4 md:mb-6">
        Explore la gran variedad de productos que tenemos relacionados con los rodamientos. Desde los rodamientos más clásicos como los de bolas, hasta los más avanzados, podrás encontrar el modelo indicado.
      </p>
       <div class="p-2 w-full">
          <button
  class="flex mx-auto text-white bg-[#e87025] text-sm md:text-lg font-[Inter] border-0 py-2 px-8 focus:outline-none hover:bg-[#913d09] rounded-2xl cursor-pointer">
  <a href="/productos">
  Ver todo</a>

        </button>
        </div>
      <div class="flex mt-4 md:mt-6 justify-center">
        <div class="w-12 md:w-16 h-1 rounded-full bg-[#e87025] inline-flex"></div>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="relative group border border-gray-300 shadow-md rounded-lg overflow-hidden flex justify-center items-center">
      <img src="./assets/conicos.png" alt="Rodamiento 1" class="w-40 h-auto object-contain">
      <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-end">
        <a href="/conos-y-tazas" class="text-white text-center w-full py-2 bg-black bg-opacity-50">Rodamiento Cónico</a>
      </div>
    </div>
    <div class="relative group border border-gray-300 shadow-md rounded-lg overflow-hidden flex justify-center items-center">
      <img src="./assets/rigido de bolas.png" alt="Rodamiento 2" class="w-40 h-auto object-contain">
      <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-end">
        <p class="text-white text-center w-full py-2 bg-black bg-opacity-50">Rodamiento de Bolas</p>
      </div>
    </div>
    <div class="relative group border border-gray-300 shadow-md rounded-lg overflow-hidden flex justify-center items-center">
      <img src="./assets/rodamiento de agujas.png" alt="Rodamiento 3" class="w-40 h-auto object-contain">
      <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-end">
        <p class="text-white text-center w-full py-2 bg-black bg-opacity-50">Rodamiento de Agujas</p>
      </div>
    </div>
    <div class="relative group border border-gray-300 shadow-md rounded-lg overflow-hidden flex justify-center items-center">
      <img src="./assets/rodamiento de rodillos.png" alt="Rodamiento 4" class="w-40 h-auto object-contain">
      <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-end">
        <p class="text-white text-center w-full py-2 bg-black bg-opacity-50">Rodamiento de Rodillos</p>
      </div>
    </div>
    <div class="relative group border border-gray-300 shadow-md rounded-lg overflow-hidden flex justify-center items-center">
      <img src="./assets/chumacera.png" alt="Rodamiento 4" class="w-60 h-auto object-contain">
      <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-end">
        <p class="text-white text-center w-full py-2 bg-black bg-opacity-50">Chumacera de piso</p>
      </div>
    </div>
    <div class="relative group border border-gray-300 shadow-md rounded-lg overflow-hidden flex justify-center items-center">
      <img src="./assets/chu de piso.png" alt="Rodamiento 4" class="w-60 h-auto object-contain">
      <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-end">
        <p class="text-white text-center w-full py-2 bg-black bg-opacity-50">Chumacera de pared</p>
      </div>
    </div>
    <div class="relative group border border-gray-300 shadow-md rounded-lg overflow-hidden flex justify-center items-center">
      <img src="./assets/grasas.png" alt="Rodamiento 4" class="w-60 h-auto object-contain">
      <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-end">
        <p class="text-white text-center w-full py-2 bg-black bg-opacity-50">Grasa de nivel industrial</p>
      </div>
    </div>
    <div class="relative group border border-gray-300 shadow-md rounded-lg overflow-hidden flex justify-center items-center">
      <img src="./assets/extractor.jpg" alt="Rodamiento 4" class="w-60 h-auto object-contain">
      <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-end">
        <p class="text-white text-center w-full py-2 bg-black bg-opacity-50">Extractor de rodamientos</p>
      </div>
    </div>
  </div>
</section>


