<section class="font-[Inter] px-32">
    <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-20">
      <h1 class="text-2xl sm:text-2xl md:text-4xl font-bold font-[Inter] text-center">Nosotros</h1>
      <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto text-gray-500s mt-6 mb-6">Descubra por qué somos su mejor opción en rodamientos para sus aplicaciones industriales.</p>
      <div class="flex mt-6 justify-center">
        <div class="w-16 h-1 rounded-full bg-[#e87025] inline-flex"></div>
      </div>
    </div>
    <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
            <img src="./assets/empresa mexicana.png" alt="Envios a todo Mexico" class="w-20 h-20">
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-bold mb-3">Empresa Nacional</h2>
          <p class="leading-relaxed text-base">Somos una empresa 100% mexicana dedicada al abastecimiento de venta de refacciones industriales de alta calidad.</p>
          
        </div>
      </div>
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
            <img src="./assets/balero.png" alt="Envios a todo Mexico" class="w-20 h-20">
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-bold mb-3">La gama más amplia del mercado</h2>
          <p class="leading-relaxed text-base">Contamos con gran stock en marcas líderes. Teniendo así una amplia gama de productos para suministro de diversas industrias.</p>
         
        </div>
      </div>
      <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
        <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-5 flex-shrink-0">
         <img src="./assets/Envío a todo México.png" alt="Envios a todo Mexico" class="w-20 h-20">
        </div>
        <div class="flex-grow">
          <h2 class="text-gray-900 text-lg title-font font-bold mb-3">Envíos nacionales</h2>
          <p class="leading-relaxed text-base">Sabemos que sus equipos no pueden detenerse, por lo que le brindamos envíos a toda la República Mexicana.</p>
        </div>
        
      </div>

    </div>
  
  </div>
</section>