<header id="header" [ngClass]="{'bg-transparent text-white': !scrolled, 'bg-white bg-opacity-20 text-gray-800 shadow-md': scrolled}" 
    class="fixed top-0 left-0 w-full z-50 transition-all duration-300">
  <div class="container mx-auto flex flex-wrap justify-between items-center px-4 py-4">
      <!-- Logo -->
      <a href="#" class="text-xl md:text-2xl font-bold sm:px-26">
        <img class="header-logo w-[40px] md:w-[60px] inline" src="./assets/rel icon.png" alt="Logo">
        
      </a>
      <!-- Navegacion -->
      <nav class="hidden md:flex space-x-6 lg:space-x-12 font-bold px-0 md:px-36 font-[Inter]">
          <a href="#inicio" class="hover:text-gray-500 transition">Inicio</a>
          <a href="#nosotros" class="hover:text-gray-500 transition">Nosotros</a>
          <a href="#productos" class="hover:text-gray-500 transition">Productos</a>
          <a href="#contacto" class="hover:text-gray-500 transition">Contacto</a>
      </nav>
      <!-- Mobile Menu -->
      <div class="md:hidden">
          <button id="menu-toggle" class="text-white focus:outline-none">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
              </svg>
          </button>
      </div>
  </div>
</header>
