<header id="header" [ngClass]="{'scrolled': scrolled, 'hero-section-menu-open': isHeroSection && isLargeScreen}" 
    class="navbar">
  <div class="container" style="font-family: Inter;">
      <!-- Logo -->
      <a href="#" class="logo">
        <img class="header-logo" src="./assets/rel icon.png" alt="Logo">
      </a>
      <!-- Navegacion -->
      <nav class="desktop-nav">
        <a class="nav-link cursor-pointer"(click)="scrollToSection('hero')">Inicio</a>
        <a class="nav-link cursor-pointer" (click)="scrollToSection('productos')">Productos</a>
        <a class="nav-link cursor-pointer" (click)="scrollToSection('contacto')">Contacto</a>
        <button class="nav-link relative cursor-pointer"(click)="carrito.togglePopover()">

            <!-- Icono SVG del carrito -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
            </svg>

        </button>
        <app-carrito-cotizacion #carrito></app-carrito-cotizacion>
      </nav>
      <!-- Mobile Menu -->
      <div class="mobile-menu">
          <button id="menu-toggle" class="menu-button" (click)="toggleMenu()">
              <svg xmlns="http://www.w3.org/2000/svg" class="menu-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
              </svg>
          </button>
      </div>
  </div>
  <!-- Menú desplegable -->
  <div *ngIf="isMenuOpen" [ngClass]="{'dropdown-menu-hero': isHeroSection, 'dropdown-menu-default': !isHeroSection}" class="dropdown-menu text-center">
    <nav class="mobile-nav">
        <a href="#inicio" class="nav-link">Inicio</a>  
        <a href="#nosotros" class="nav-link">Nosotros</a>
        <a href="#productos" class="nav-link">Productos</a>
        <a href="#contacto" class="nav-link">Contacto</a>
    </nav>
</div>
</header>
