<header id="header" [ngClass]="{'scrolled': scrolled, 'hero-section-menu-open': isHeroSection && isLargeScreen}" 
    class="navbar">
  <div class="container" style="font-family: Inter;">
      <!-- Logo -->
      <a href="#" class="logo">
        <img class="header-logo" src="./assets/rel icon.png" alt="Logo">
      </a>
      <!-- Navegacion -->
      <nav class="desktop-nav">
        <a class="nav-link cursor-pointer"(click)="scrollToSection('hero')">Inicio</a>
        <a class="nav-link cursor-pointer" (click)="scrollToSection('nosotros')">Nosotros</a>
        <a class="nav-link cursor-pointer" (click)="scrollToSection('productos')">Productos</a>
        <a class="nav-link cursor-pointer" (click)="scrollToSection('contacto')">Contacto</a>
      </nav>
      <!-- Mobile Menu -->
      <div class="mobile-menu">
          <button id="menu-toggle" class="menu-button" (click)="toggleMenu()">
              <svg xmlns="http://www.w3.org/2000/svg" class="menu-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
              </svg>
          </button>
      </div>
  </div>
  <!-- Menú desplegable -->
  <div *ngIf="isMenuOpen" [ngClass]="{'dropdown-menu-hero': isHeroSection, 'dropdown-menu-default': !isHeroSection}" class="dropdown-menu">
    <nav class="mobile-nav">
        <a href="#inicio" class="nav-link">Inicio</a>
        <a href="#nosotros" class="nav-link">Nosotros</a>
        <a href="#productos" class="nav-link">Productos</a>
        <a href="#contacto" class="nav-link">Contacto</a>
    </nav>
</div>
</header>
